body {
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
}

.chat_button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    font-size: 16px;
}

.chat_button:disabled {
    background-color: #606060;
}
