.cx-widget.cx-theme-red,
.cx-widget .cx-container {
    color: #fdfdfd;
    background: #868696;
}

.cx-widget.cx-theme-red * {
    border-color: #ffffff;
}

.cx-widget.cx-theme-red .cx-transcript {
    color: black;
}

.cx-widget.cx-theme-red.cx-webchat,
.cx-widget.cx-theme-red .cx-webchat {
    background: #acc2dc;
}

.cx-widget.cx-theme-red .cx-agent .cx-bubble {
    background: #745555;
}

.cx-widget.cx-theme-red .cx-you .cx-bubble {
    background: #e8e8e8;
}

.cx-widget.cx-theme-red .cx-input-container {
    background: #e8e8e8;
    color: black;
}

.cx-widget.cx-theme-red .cx-alert .cx-wrapper {
    background: #e8e8e8;
    color: black;
}

.cx-widget.cx-theme-red .cx-btn {
    color: black;
    background: white;
    border-radius: 1em;
    border-color: #d05858;
}

.cx-widget.cx-theme-red .cx-form-control {
    color: black;
    background: white;
    border-color: white;
}

.cx-widget.cx-theme-red .cx-btn-primary {
    background: #d05858;
}

.cx-widget.cx-theme-red .cx-svg-icon-tone1 {
    fill: #d05858;
}

.chat-btn {
    background-color: #acc2dc;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    top: 30%;
    right: 0%;
    margin: 0;
    position: absolute;
}
